.equipos {

    .video-portada {
        height: 250px;
        padding-top: 1em;

        .video-youtube {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
        }

        .video-youtube iframe {
            min-width: 60%;
            height: 100%;
        }
    }

    .contenedor-titulo {
        
        .titulo-seccion {
            font-size: 1.5rem;
        }
    }

    .contenedor-equipamiento {

        display: flex;
        flex-direction: column;
        align-items: center;
    
    .contenedor-equipos{
        padding-top: 2em;
    }

    .tarjeta-equipos {
        font-size: 1rem;
        display: flex;
        justify-content: center;
        }
    
    .foto-equipos {
        width: 100%;
        height: 200px;
        }
        
    .contenedor-titulo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        }
        
    }

    @media (min-width: 600px) {
        .video-portada {
            height: 450px;
            padding-top: 1em;
    
            .video-youtube {
                width: 100%;
                display: flex;
                justify-content: center;
            }
    
            .video-youtube iframe {
                min-width: 60%;
                
            }
        } 

        .contenedor-equipamiento {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-content: center;
            padding: 30px 0;

            .foto-equipos {
                width: 100%;
                height: 150px;
            }
        }
        
    }

    @media (min-width: 1200px){

    .video-portada {
        width: 100%;
        height: 500px;
        padding-top: 1em;
    }
    
    .video-youtube {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    
    }
    .video-youtube iframe {
        width: 60%;
        height: 100%;
    }
    
    .contenedor-equipamiento {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        padding: 30px 0;
    }
    
    .contenedor-equipos {
        display: flex;
        align-items: center;
    }
    
    .tarjeta-equipos {
        font-size: 1rem;
        display: flex;
        justify-content: center;
    }
    
    .foto-equipos {
        width: 100%;
        height: 300px;
    }
    
    .contenedor-titulo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
    
    .titulo-seccion {
        font-size: 1.5rem;
    }
}

}

