.portada {
    font-size: 1rem;

    .portada-texto {
    @include flex-box-column(center,center);
    height: auto;
    font-size: 1.2rem;
    padding: 1em;
    }
    
    .imagen img {
    width: 100%
    }
    
    h1 {
    color: $color-primario;
    background-color:none;
    }
    
}

.portada-estructura {
    height: auto;
    display: flex;
    flex-direction: column;

    .parrafo {
        font-family: $fuente-principal;
        font-size: 1rem;
        font-style: italic;
        text-align: center;
        text-decoration: none;
        letter-spacing: 2px;
        word-spacing: 2px;
        line-height: 25px;
        padding: 1.5em;
    }
}

section h2 {color: $color-primario;
    font-weight: bold;
}

.video-tutorial {
    width: 100%;
    height: 300px;
    @include flex-box(center,center);
    

    .tutorial {
        max-width: 50%;
        height: 100%;

        iframe {
        height: 100%;
        width: 100%;
        }
    }
    
}

@media (min-width: 600px) {

    .video-tutorial{
        @include flex-box(center,center);
        width: 100%;
        height: 450px;

        .tutorial {
        width: 100%;
        }
    }
}
    
