.portada {
    font-size: 1rem;

    .portada-texto {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    padding: 1em;
    }
    
    .imagen img {
    width: 100%
    }
    
    h1 {
    color: green;
    background-color:none;
    }
    
}

.portada-estructura {
    height: auto;
    display: flex;
    flex-direction: column;

    .parrafo {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1rem;
        font-style: italic;
        text-align: center;
        text-decoration: none;
        letter-spacing: 2px;
        word-spacing: 2px;
        line-height: 25px;
        padding: 1.5em;
    }
}

section h2 {color: green;
    font-weight: bold;
}

.video-tutorial {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    padding-bottom: .2em;
    align-items: center;

    .tutorial {
        width: 50%;
        height: 100%;

        iframe {
        height: 100%;
        width: 100%;
        }
    }
    
}

@media (min-width: 600px) {

    .video-tutorial{
        display: flex;
        justify-content: center;
        width: 100%;
    
    }
    .tutorial {
        width: 100%;
        
    }
    }
    
    @media (min-width:1000px) {
    
    .tutorial {
        width: 60%;
        
        }
}
