@media (max-width: 1023px) {

    .img-portada {
        width: 100%;
        height: 70vw;
        background-image: url(../img/lab-a.jpg);
        background-size:cover;
        }        
    
    .contenedor-directores {
        display: flex;
        justify-content: space-around;
    }
    
    .contenedor-tarjetas {
        padding: 15px 0;

        .foto-directores {
        width: 100%;
        height: 60%;
        }
        
        .tarjeta {
        width: 100%;
        font-size: .7rem;
        @include flex-box-column(center,center);
        }

        .tarjeta-directores {
        color: black;
        font-weight: bold;
        font-size: .8rem;
        }
    }
    
    .titulo-directores{
        font-size: 1.8rem;
        text-align: center;
        padding: 10px
        }

    .contenedor-padre-staff {
        display: grid;
        grid-template-columns: repeat(3,auto);
    }
    
    .tarjeta-staff {
        width: 100%;
        font-size: .6rem;
        @include flex-box-column(center,center);
    }

    .titulo-seccion {
        text-align: center;
        padding-top: 40px;
        font-size: 1.8rem;
    }
    
    .contenedor-historia {
        @include flex-box-column(space-around,center);
        padding-bottom: 50px;
        padding-top: 10px;

        .contenedor-img-historia {
            width: 100%;
            height: 40vh;
            background-image: url(../img/lab-b.jpg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            }

        .contenedor-texto {
            width: 100%;
            height: auto;
            text-align: center;
            align-content: center;
            justify-content: center;
            padding-top: 1em;
            
            .parrafo {
                font-size: 1rem;
                text-align: center;
            }
            
            }
        } 
        
    }

    @media (min-width: 1024px) {

        .img-portada {
            width: 100%;
            height: 70vw;
            background-image: url(../img/lab-a.jpg);
            background-size:cover;
            }
        
        .titulo-directores{
            font-size: 1.5rem;
            text-align: center;
            padding: 20px
        }
        
        .contenedor-directores {
            @include flex-box(space-around,center);
            padding-top: 20px;
        }

            .tarjeta {
                width: 175px;
                height: 200px;
                font-size: 1rem;
                @include flex-box-column(center,center);
            }
            
            .foto-directores {
                width: 75%;
                height: 60%;
            }

            .tarjeta-directores {
                color: black;
                font-weight: bold;
                font-size: 1rem;
                }
        
        
        .contenedor-staff {
            display: flex;
            justify-content: space-around;
            padding-top: 20px;
        }
        
        .tarjeta-staff {
            width: 150px;
            height: 200px;
            font-size: .8rem;
            @include flex-box-column(center,center);
        }

        .titulo-seccion {
            text-align: center;
            padding-top: 40px;
            font-size: 1.5rem;
        }
        
        .contenedor-texto {
            width: 100%;
            height: auto;
            text-align: center;
            align-content: center;
            justify-content: center;

        }
        
        .contenedor-img-historia {
            width: 100%;
            height: 40vh;
            background-image: url(../img/lab-b.jpg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            }
        
        .contenedor-historia {
            display: flex;
            justify-content:space-around;
            padding-top: 20px;
            padding-bottom: 50px;
        }
        
        }