.boton-enviar {
    padding: 10px 20px;
    background-color: $color-primario;
    border-radius: 30px;
    color: $color-primario-2;
    border: none;
    cursor: pointer;
    align-self: center;
    
    &:hover {
        background-color: rgba(0, 128, 0, 0.514);
        color: greenyellow;
    }
}